body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.for-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    background: #fff;
    text-align: center;
    padding: 30px 0;
}

.midd {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.midd-a {
    border-bottom: 1px solid #000;
    padding: 25px 50px 25px 0;
}

.midd-b {
    padding: 25px 40px 25px 0;
}

a {
    text-decoration: none;
}

ul, ol {
    padding-left: 0;
    margin-left: 20px;
    list-style: outside;
    
}
li {
    line-height: 2em;
}

p {
    margin-top: 30px;
}

.midd-t2 {
    margin-bottom: 30px;
}




@media screen and (max-width: 412px) {
    .top {
        padding: 30px 50px;
    }

    .midd-a, .midd-b {
        padding: 25px 10px;
    }

    .midd {
        width: 90%;
    }
}

